/** ----------------------------------

  Homepage
  --------

  Homepage layout.

---------------------------------- */
.container {
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font: 13px insonsolata, monospace;
}